.bubble_active {
  width: 175px;
  height: 175px;
  font-weight: 600;
  font-size: 30px;
  border-style: solid;
  border-width: 2px;
}

.bubble_inactive {
  width: 125.64px;
  height: 125.64px;
  font-size: 23px;
}


@media screen and (min-width: 1024px) {

  .first_smallBub {
    top: 0%;
    left: 22%;
  }

  .second_smallBub {
    top: 50%;
    left: 8%;
  }

  .third_smallBub {
    top: 0%;
    right: 22%;
  }

  .forth_smallBub {
    top: 50%;
    right: 8%;
  }
}

@media screen and (min-width: 1500px) {
  .first_smallBub {
    top: 0%;
    left: 27%;
  }

  .second_smallBub {
    top: 50%;
    left: 10%;
  }

  .third_smallBub {
    top: 0%;
    right: 27%;
  }

  .forth_smallBub {
    top: 50%;
    right: 10%;
  }
}

@media screen and (min-width: 2100px) {
  .first_smallBub {
    top: 5%;
    left: 27%;
  }

  .second_smallBub {
    top: 50%;
    left: 13%;
  }

  .third_smallBub {
    top: 5%;
    right: 27%;
  }

  .forth_smallBub {
    top: 50%;
    right: 13%;
  }
}


@media screen and (min-width: 2500px) {
  .first_smallBub {
    top: 8%;
    left: 27%;
  }

  .second_smallBub {
    top: 50%;
    left: 14.5%;
  }

  .third_smallBub {
    top: 8%;
    right: 27%;
  }

  .forth_smallBub {
    top: 50%;
    right: 14.5%;
  }
}