.bubble_active {
  width: 175px;
  height: 175px;
  font-weight: 600;
  font-size: 30px;
  border-style: solid;
  border-width: 2px;
}

.bubble_inactive {
  width: 125.64px;
  height: 125.64px;
  font-size: 23px;
}



/* Mobile First Responsive Design */
@media screen and (max-width: 424px) {
  .bubble_active {
    width: 80px;
    height: 80px;
    font-size: 12px;
  }

  .bubble_inactive {
    width: 60px;
    height: 60px;
    font-size: 12px;
  }
}

/* Mobile First Responsive Design */
@media screen and (max-width: 769px) and (min-width: 425px) {
  .bubble_active {
    width: 100px;
    height: 100px;
    font-size: 14px;
  }

  .bubble_inactive {
    width: 80px;
    height: 80px;
    font-size: 14px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .bubble_active {
    width: 100px;
    height: 100px;
    font-size: 14px;
  }

  .bubble_inactive {
    width: 80px;
    height: 80px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .bubble_active {
    width: 155px;
    height: 155px;
    font-size: 26px;
  }

  .bubble_inactive {
    width: 110px;
    height: 110px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1281px) {
  .bubble_active {
    width: 175px;
    height: 175px;
    font-size: 30px;
  }

  .bubble_inactive {
    width: 125.64px;
    height: 125.64px;
    font-size: 23px;
  }
}

@media screen and (max-width: 768px) {
  .first_smallBub{
    display: none;
  }

  .second_smallBub {
    display: none;
  }

  .third_smallBub {
    display: none;
  }

  .forth_smallBub {
    display: none;
  }

}


@media screen and (min-width: 769px) {
  .first_smallBub {
    top: 0px;
    left: 90px;
  }

  .second_smallBub {
    top: 220px;
    left: 55px;
  }

  .third_smallBub {
    top: 3px;
    right: 90px;
  }

  .forth_smallBub {
    top: 220px;
    right: 55px;
  }
}


@media screen and (min-width: 800px) {
  .first_smallBub {
    top: 0px;
    left: 100px;
  }

  .second_smallBub {
    top: 220px;
    left: 55px;
  }

  .third_smallBub {
    top: 3px;
    right: 100px;
  }

  .forth_smallBub {
    top: 220px;
    right: 55px;
  }
}

@media screen and (min-width: 850px) {
  .first_smallBub {
    top: 0px;
    left: 110px;
  }

  .second_smallBub {
    top: 220px;
    left: 65px;
  }

  .third_smallBub {
    top: 3px;
    right: 110px;
  }

  .forth_smallBub {
    top: 220px;
    right: 65px;
  }
}

@media screen and (min-width: 900px) {
  .first_smallBub {
    top: 0px;
    left: 125px;
  }

  .second_smallBub {
    top: 220px;
    left: 65px;
  }

  .third_smallBub {
    top: 3px;
    right: 125px;
  }

  .forth_smallBub {
    top: 220px;
    right: 65px;
  }
}


@media screen and (min-width: 950px) {
  .first_smallBub {
    top: 0px;
    left: 140px;
  }

  .second_smallBub {
    top: 220px;
    left: 70px;
  }

  .third_smallBub {
    top: 3px;
    right: 140px;
  }

  .forth_smallBub {
    top: 220px;
    right: 70px;
  }
}

@media screen and (min-width: 1024px) {
  .first_smallBub {
    top: 0px;
    left: 150px;
  }

  .second_smallBub {
    top: 220px;
    left: 80px;
  }

  .third_smallBub {
    top: 3px;
    right: 150px;
  }

  .forth_smallBub {
    top: 220px;
    right: 80px;
  }
}

@media screen and (min-width: 1074px) {

  .first_smallBub {
    top: 0px;
    left: 165px;
  }

  .second_smallBub {
    top: 220px;
    left: 90px;
  }

  .third_smallBub {
    top: 3px;
    right: 165px;
  }

  .forth_smallBub {
    top: 220px;
    right: 90px;
  }
}


@media screen and (min-width: 1100px) {

  .first_smallBub {
    top: 3px;
    left: 170px;
  }

  .second_smallBub {
    top: 220px;
    left: 90px;
  }

  .third_smallBub {
    top: 3px;
    right: 170px;
  }

  .forth_smallBub {
    top: 220px;
    right: 90px;
  }
}

@media screen and (min-width: 1150px) {

  .first_smallBub {
    top: 3px;
    left: 185px;
  }

  .second_smallBub {
    top: 220px;
    left: 100px;
  }

  .third_smallBub {
    top: 3px;
    right: 185px;
  }

  .forth_smallBub {
    top: 220px;
    right: 100px;
  }
}

@media screen and (min-width: 1200px) {

  .first_smallBub {
    top: 0px;
    left: 205px;
  }

  .second_smallBub {
    top: 220px;
    left: 110px;
  }

  .third_smallBub {
    top: 0px;
    right: 205px;
  }

  .forth_smallBub {
    top: 220px;
    right: 110px;
  }
}



@media screen and (min-width: 1250px) {

  .first_smallBub {
    top: 3px;
    left: 220px;
  }

  .second_smallBub {
    top: 220px;
    left: 125px;
  }

  .third_smallBub {
    top: 3px;
    right: 220px;
  }

  .forth_smallBub {
    top: 220px;
    right: 125px;
  }
}

@media screen and (min-width: 1300px) {

  .first_smallBub {
    top: 3px;
    left: 320px;
  }

  .second_smallBub {
    top: 220px;
    left: 165px;
  }

  .third_smallBub {
    top: 3px;
    right: 320px;
  }

  .forth_smallBub {
    top: 220px;
    right: 165px;
  }
}


@media screen and (min-width: 1350px) {

  .first_smallBub {
    top: 12px;
    left: 320px;
  }

  .second_smallBub {
    top: 220px;
    left: 175px;
  }

  .third_smallBub {
    top: 12px;
    right: 320px;
  }

  .forth_smallBub {
    top: 220px;
    right: 175px;
  }
}


@media screen and (min-width: 1400px) {

  .first_smallBub {
    top: 30px;
    left: 320px;
  }

  .second_smallBub {
    top: 220px;
    left: 190px;
  }

  .third_smallBub {
    top: 30px;
    right: 320px;
  }

  .forth_smallBub {
    top: 220px;
    right: 190px;
  }
}


@media screen and (min-width: 1450px) {

  .first_smallBub {
    top: 40px;
    left: 320px;
  }

  .second_smallBub {
    top: 220px;
    left: 200px;
  }

  .third_smallBub {
    top: 40px;
    right: 320px;
  }

  .forth_smallBub {
    top: 220px;
    right: 200px;
  }
}

@media screen and (min-width: 1500px) {

  .first_smallBub {
    top: 0%;
    left: 27%;
  }

  .second_smallBub {
    top: 50%;
    left: 10%;
  }

  .third_smallBub {
    top: 0%;
    right: 27%;
  }

  .forth_smallBub {
    top: 50%;
    right: 10%;
  }
}


@media screen and (min-width: 1800px) {

  .first_smallBub {
    top: 0%;
    left: 28%;
  }

  .second_smallBub {
    top: 50%;
    left: 11%;
  }

  .third_smallBub {
    top: 0%;
    right: 28%;
  }

  .forth_smallBub {
    top: 50%;
    right: 11%;
  }
}




@media screen and (min-width: 2100px) {

  .first_smallBub {
    top: 3%;
    left: 27%;
  }

  .second_smallBub {
    top: 50%;
    left: 12%;
  }

  .third_smallBub {
    top: 3%;
    right: 27%;
  }

  .forth_smallBub {
    top: 50%;
    right: 12%;
  }
}

@media screen and (min-width: 2500px) {
  .first_smallBub {
    top: 4%;
    left: 27%;
  }

  .second_smallBub {
    top: 50%;
    left: 12%;
  }

  .third_smallBub {
    top: 4%;
    right: 27%;
  }

  .forth_smallBub {
    top: 50%;
    right: 12%;
  }
}


