.react-datepicker {
  border: unset;
  box-shadow: unset;

  .react-datepicker__navigation {
    top: 6%;
  }

  .react-datepicker__header {
    background-color: #ffffff;
  }

  .react-datepicker__current-month {
    margin: 0px;
    padding-bottom: 10%;
    font-weight: 500;
    color: #CB97FF !important;
    font-size: 18px !important;
  }

  .react-datepicker__header {
    border-bottom: unset;
  }

  .react-datepicker__navigation-icon:before{
    border-color:  #4a148c !important;
  }

  @media (min-width: 1024px) {
    .react-datepicker__day-name,
    .react-datepicker__day {
      margin: 0.5rem;
    }
  }
}
