@import "tailwindcss";

 /* (default) */
:root {
  --color-background: #070322;
  --color-foreground: #ffffff;
  --font-family: "Poppins", sans-serif;
}

/* Dark theme overrides */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #070322;
    --color-foreground: #ffffff;
  }
}

 /* Light theme (default) */
@media (prefers-color-scheme: light) {
  :root {
    --color-background: #070322;
    --color-foreground: #ffffff;
  }
}

/* Optional: custom theming block if you're using a processor */
@theme inline {
  --background: var(--color-background);
  --foreground: var(--color-foreground);
  --fontFamily: var(--font-family);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--fontFamily);
}

